{% extends '@App/base.html.twig' %}
{% block content %}
    Category
    {{ category.name }}

    {% for product in products %}
        <a href="#">Product {{ product.title }}</a>
    {% endfor %}

  
{% endblock %}