{% extends '@App/base.html.twig' %}
{% block content %}
{% for product in products %}
    <a href="{{ path("product_show", {id: product.id}) }}">Product {{ product.title }}</a>
{% endfor %}

  
{% endblock %}